<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :company_number %>
  </div>

  <div class="field">
    <%= form.label :owners_id %>
    <%= form.text_field :owners_id, id: :company_owners_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :company_status %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, id: :company_icon %>
  </div>

  <div class="field">
    <%= form.label :top_img %>
    <%= form.text_field :top_img, id: :company_top_img %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img, id: :company_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
