<section class="conA thick_band">
    <p></p>
</section>
<nav>
  <ul>
    <li><a href=".html"><i class="fa fa-plus" aria-hidden="true"></i>紹介サービス</a></li>
    <li><a href=".html"><i class="fa fa-comments" aria-hidden="true"></i>応援の声</a></li>
    <li><a href=".html"><i class="fa fa-handshake-o" aria-hidden="true"></i>友達申請</a></li>
    <li><a href=".html"><i class="fa fa-thumbs-up" aria-hidden="true"></i>応援する</a></li>
  </ul>
</nav>
<section class="conB">
  <div class="container">
    <div class="company_message">
      <h1><span><%= @company.message %></span></h1>
    </div>
  </div>
  <div class="container">
    <div class="text">
      <h2><span>私たちの想い</span></h2>
      <div class="textbox">
        <p><%= @company.thought %></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="conA img_band">
    <p></p>
  </div>
</section>

<section class="conC">
  <div class="container">
    <div class="text">
      <h2><span><%= @company.name %>のサービス</span></h2>
      <p></p>
    </div>
  </div>
</section>
<section class="conD">
  <div class="container">
    <div class="photo"><img src="icon_slack100x100bb.jpg" alt="img" width="150px" height="150px"></div>
    <div class="text">
      <h2>Slack</h2>
      <h3>社内チャット</h3>
      <p>圧倒的力で成約してくれました</p> <img src="スクリーンショット 2017-08-22 152821.png">
      <p>今まで営業として働いていて、勤怠管理は紙でやっていました。 しかし利用し始めてから、直行直帰した外出先でも勤怠管理が出来るようになったので、残業代もしっかりと出るようになりました。</p>
    </div>
  </div>
</section>
<hr style="border:0;border-top:3px solid #e6e6fa;">
<section class="conD">
  <div class="container">
    <div class="photo"><img src="icon_googledrive.jpg" alt="img" width="150px" height="150px"></div>
    <div class="text">
      <h2>Slack</h2>
      <h3>社内チャット</h3>
      <p>圧倒的力で成約してくれました</p> <img src="スクリーンショット 2017-08-22 152821.png">
      <p>今まで営業として働いていて、勤怠管理は紙でやっていました。 しかし利用し始めてから、直行直帰した外出先でも勤怠管理が出来るようになったので、残業代もしっかりと出るようになりました。</p>
    </div>
  </div>
</section>
<hr style="border:0;border-top:3px solid #e6e6fa;">
<section class="conD">
  <div class="container">
    <div class="photo"><img src="icon_skype100x100bb.jpg" alt="img" width="150px" height="150px"></div>
    <div class="text">
      <h2>Slack</h2>
      <h3>社内チャット</h3>
      <p>圧倒的力で成約してくれました</p> <img src="スクリーンショット 2017-08-22 152821.png">
      <p>今まで営業として働いていて、勤怠管理は紙でやっていました。 しかし利用し始めてから、直行直帰した外出先でも勤怠管理が出来るようになったので、残業代もしっかりと出るようになりました。</p>
    </div>
  </div>
</section>













  <%= @company.number %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @company.owners_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @company.icon %>
</p>

<p>
  <strong>Top img:</strong>
  <%= @company.top_img %>
</p>

<p>
  <strong>Img:</strong>
  <%= @company.img %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
