<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Service.id:</strong>
  <%= @review.service_id %>
</p>

<p>
  <strong>User.id:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Valuation:</strong>
  <%= @review.valuation %>
</p>

<p>
  <strong>Promotion score:</strong>
  <%= @review.promotion_score %>
</p>

<p>
  <strong>Price:</strong>
  <%= @review.price %>
</p>

<p>
  <strong>Starting cost:</strong>
  <%= @review.starting_cost %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
